:root {
  --font: 'Open Sans', sans-serif;
  --primary-color: #6C38CC;
  --primary-hover-color: #5626ae;
  --white-color: #FFFFFF;
  --text-color: #000000;
  --text-secondary: #5B5B5E;
  --separator-color: #D4D6E0;
}

body {
  font-family: 'Open Sans', sans-serif;
}